body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/izevent.appspot.com/o/images%2Fphoto-1496150458551-140441714f2f.jpeg?alt=media&token=6962488f-afae-4ef3-a7d9-8cdf24e522f0');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
